*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: content-box;
}

:root{
  --bg-main: #fceccb;
}

body{
  background: var(--bg-main);
}

header{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
}

.container{
  padding: 0 6rem;
}

.galeria__grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.galeria__item{
  filter: grayscale(100);
  width: 350px;
  transition: 300ms ease all;
}

.galeria__item:hover{
  z-index: 999;
  filter: grayscale(0);
  scale: 1.2;
  border-radius: 10px;
}

footer{
  background: #000;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 6rem;
}

footer a{
  text-decoration: none;
  color: #fff;
  
}